{% extends "base.html.twig" %}

{% block cuerpo %}
	<table>
		<thead>
			<tr>
				<th>Titulo</th>
				<th>Precio</th>
				<th>Acciones</th>
			</tr>
		</thead>
        <tbody>
	</table>

{% endblock %}
