{# Ejemplo de comentario #}

    {% extends "base.html.twig" %}

    {% block body %}

        <h1>No autorizado</h1>
    
        <p>No esta autorizado 🔥</p>
    
        <p> Ve a la pagina de inicio <a href="{{path('homepagina_home')}}">
        Inicio</a></p>
    
    {% endblock %}