{# Ejemplo de comentario #}

    {% extends "base.html.twig" %}

    {% block body %}

        <h1>Error inesperado</h1>
    
        <p>Algo ha ido mal 💀</p>
    
        <p> Vuelve a Inicio <a href="{{path('homepagina_home')}}">
        Inicio</a></p>
    
    {% endblock %}